# Windows System Files
System Volume Information/

# TODO file
TODO.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
*.egg-info

# Translations
*.mo
*.pot

# PyCharm project files
.idea
